*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

th {
    border: 1px solid black;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    background-image: url();
}
