*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(../Images/pattern.webp);
}

h4{
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes{
    background-color: mediumspringgreen;
}

.frames{
    background-color: lightcoral;
}

.paint{
    background-color: skyblue;
}

strong{
    font-weight: bold;
    color: blue;
}